html {
    background-image: url(images/rainbackground.jpg);
    background-position: center;
}

header {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    background-color: hsla(352, 100%, 0%, 0.35);
    border-radius:10%;
    color:white;
    height:75%;
    width:auto;
}